# this is the yaml file if any event will occur this will automatically executed and test all the cases mention in tests folder




# name of the workflow
name: Python CI





# events means github repo me jab koi push, pull request(PR), merge, delete operation kare to in events per hum workflows ko trigger kar sakte hai 

# all events per workflow ko trigger karna ke liye hume 'on' keyword ke ander all workflows ko define karte hai

# Trigger the workflow on any push to the main branch or pull request

on:
  # push is event
  push:
    # branch is main on github
    branches:
      # - main
      - master
  # PR is event
  pull_request:
    branches:
    #   - main
      - master

# we can also have different event like staging, production






# jobs running is some kind of container
jobs:
  # name of the job is `test`
  test:
    # github provide this ubuntu container to build and test the application
    # we also get windows and Mac container based on needs
    runs-on: ubuntu-latest

    # every workflow steps we define in steps block 
    steps:
        # Step 1: Check out the code from the repository 
      - name: Check out code
        # pre-build action define by github action to checkout the code in the repo(here is the verison is v2 it may change)
        # it will triggering an event to checkout code from the repo
        uses: actions/checkout@v2



        # Step 2: set up python environment
      - name: Set up Python 
        uses: actions/setup-python@v2
        with: 
          python-version: '3.8'




        # Step 3: Install dependencies
      - name: Install dependencies
       # this will install all dependencies 
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        
        


        # Step 4: Run tests
        # pytest commad runs in the container and start looking tests folder and runs all the unit test cases 
      - name: Run tests
        run: pytest


